:root {
	--c-black: oklch(17.76% 0 0);
	--c-black-o9: oklch(17.76% 0 0 / 0.9);
	--c-black-o1: oklch(17.76% 0 0 / 0.1);
	--c-white: oklch(96.41% 0 102.07);
	--c-white-o9: oklch(96.41% 0 102.07 / 0.9);
	--c-white-o5: oklch(96.41% 0 102.07 / 0.5);
	--c-white-o1: oklch(96.41% 0 102.07 / 0.1);
	--c-green: oklch(55% 0.14 172);
	--c-green-o9: oklch(55% 0.14 172 / 0.9);
	--c-blue: oklch(37% 0.206 261.5);
	--c-blue-o9: oklch(37% 0.206 261.5 / 0.9);
	--c-blue-o8: oklch(37% 0.206 261.5 / 0.8);
	--c-blue-o5: oklch(37% 0.206 261.5 / 0.5);
	--c-blue-dark: oklch(33.94% 0.1888 261.5);
	--c-blue-dark-o9: oklch(33.94% 0.1888 261.5 / 0.9);
	--c-yellow: oklch(90.07% 0.21 98.27);
	--c-yellow-o9: oklch(90.07% 0.21 98.27 / 0.9);
	--c-yellow-o8: oklch(90.07% 0.21 98.27 / 0.8);
	--c-yellow-o7: oklch(90.07% 0.21 98.27 / 0.7);
	--c-yellow-o6: oklch(90.07% 0.21 98.27 / 0.6);
	--c-yellow-o5: oklch(90.07% 0.21 98.27 / 0.5);
	--c-orange: oklch(66.98% 0.2236 43.225);
	--c-orange-o9: oklch(66.98% 0.2236 43.225 / 0.9);

	--gradient-orange: linear-gradient(120deg, var(--c-orange) 40%, var(--c-yellow) 60%);
}
